<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


<!--  cfg hikari -->
<bean id="hkds" class="com.zaxxer.hikari.HikariDataSource">
  <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
  <property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
  <property name="username" value="system"/>
  <property name="password" value="Srikant1234"/>
  <property name="maximumPoolSize" value="100"/>
  <property name="minimumIdle" value="20"/>
</bean>

<!-- cfg SimpleJdbcInsert with ds -->
<bean id="jt" class="org.springframework.jdbc.core.simple.SimpleJdbcInsert">
  <constructor-arg ref="hkds"/>
</bean>
<!-- Cfg dao with jt -->

<bean id="dao" class="com.nt.dao.StudentRegistrationDaoImpl">
<constructor-arg ref="jt"/>
</bean>

<bean id="service" class="com.nt.service.StudentServiceMgmtImpl">
 <constructor-arg ref="dao"/>
</bean>

<!-- controller -->
<bean id="rco" class="com.nt.controller.RegistrationController">
 <constructor-arg ref="service"/>
</bean>


</beans>
